.viewcont{
    max-width: 500px;
    width: 100%;
    margin-top: 30px;
    background-color: #fff;
    border-width: 20px;
    border-color: #9b59b6;
    padding: 20px 30px;
    margin-left: 500px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(221, 8, 8, 0.15);
  }
  body{
    
  
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }

 
  h2{

        font-size: 38px;
        font-weight: 500;
        margin-left: 500px;
        position: relative;
        margin-top: 25px;
        align-items: center;
        align-content: center;
  }
     
 h2::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 30px;
        border-radius: 5px;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
      }
  